<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidStudy">
        <activity android:name=".AnimActivity"
            android:exported="true"/>
        <activity
            android:name=".SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".ListActivity"
            android:exported="true" />
        <activity
            android:name=".LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ViewActivity"
            android:exported="true" />
        <activity android:name=".NinePatchActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".PagerActivity"
            android:exported="true" />
        <activity
            android:name=".Tab2Activity"
            android:exported="true" />
        <activity
            android:name=".TabActivity"
            android:exported="true" />
        <activity
            android:name=".OptionActivity"
            android:exported="true" />
        <activity
            android:name=".Fragment2Activity"
            android:exported="true" />
        <activity
            android:name=".FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".Parcelable2Activity"
            android:exported="true" />
        <activity
            android:name=".ParcelableActivity"
            android:exported="true" />
        <activity
            android:name=".CallIntentActivity"
            android:exported="true" />
        <activity
            android:name=".IntentMenuActivity"
            android:exported="true" />
        <activity
            android:name=".IntentActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".InflaterActivity"
            android:exported="true" />
        <activity
            android:name=".ProgressActivity"
            android:exported="true" />
        <activity
            android:name=".SnackBarActivity"
            android:exported="true" />
        <activity
            android:name=".ToastActivity"
            android:exported="true" />
        <activity
            android:name=".Orientation2Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrientationActivity"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>